<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Puppy List!</title>
  </head>
  <body>
    <ul>
      <% Puppies.all.each do |puppy| %>
        <li>Puppy Name: <%= puppy.name %></li>
        <li><%= puppy[:breed] %></li>
        <li><%= puppy[:age] %></li>
      <% end %>
    </ul>
  </body>
</html>
