<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome to Puppy World!</title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <a href="/new">Click Here To List A Puppy</a>

    <ul>
      <% Puppies.all.each do |puppy| %>
        <li><%= puppy[:name] %></li>
        <li><%= puppy[:breed] %></li>
        <li><%= puppy[:age] %></li>
      <% end %>
    </ul>
  </body>
</html>
